{% extends 'base.html' %}
{% load static %}
{% block css %}
{% endblock css %}
{% block title %}Trustme{% endblock title %}
{% block content %}

    <main>
        <section class="blog-gape pt-4 pt-sm-5">
            <div class="g-container">
                <ul class="g-breadcrumb mb-md-4 pb-3">
                    <li class="g-breadcrumb__item">
                        Ana səhifə
                    </li>
                    <li class="g-breadcrumb__item g-breadcrumb__item--active">
                        <a href="">
                            Bloqlar
                        </a>
                    </li>
                </ul>
                <div class="section-title mb-md-4 pb-3">
                    <h2>Bloq</h2>
                </div>
                <div class="row g-4 d-none d-sm-flex">
                    <div class="col-lg-7">
                        <div class="blog-page__img">
                            <img src="{% static 'assets/img/unsplash_tMI2_-r5Nfo.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="blog-page__content">
                            <span class="blog-page__date">
                                12 İyun, 2021
                            </span>
                            <p class="blog-page__title">
                                Sosial mediaya niyə reklam verməliyik?
                            </p>
                            <p class="blog-page__text">
                                Reklam və marketinq; Məhsul və xidmətləri, daha geniş kütləyə çatdırmaq və satış həcmini
                                artırmaq üçün həyata keçirilən fəaliyyətə verilən addır. Rəqəmsal media reklamları isə
                                internet ortamında marketinq fəaliyyətini...
                            </p>
                            <a href="{% url 'blog:blog-detail' %}" class="g-btn">
                                Davamını oxu
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-gap">
            <div class="g-container">
                <div class="row g-3">
                    <div class="col-sm-6 col-lg-4">
                        <div class="blog-card">
                            <div class="blog-card__img">
                                <img src="{% static 'assets/img/unsplash_WUmb_eBrpjs.png' %}" alt="">
                            </div>
                            <div class="blog-card__body">
                                <a href="" class="blog-card__title">
                                    Instagramın biznesizinizin inkişafında rolu
                                </a>
                                <span class="blog-card__date">
                                    12 İyun, 2021
                                </span>
                                <p class="blog-card__text">
                                    Reklam və marketinq; Məhsul və xidmətləri, daha geniş kütləyə çatdırmaq və satış
                                    həcmini artırmaq üçün həyata keçirilən fəaliyyətə verilən addır...
                                </p>
                                <a href="{% url 'blog:blog-detail' %}" class="blog-card__more">
                                    Daha çox
                                    <img src="{% static 'assets/svg/Vector 106 (1).svg' %}" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="blog-card">
                            <div class="blog-card__img">
                                <img src="{% static 'assets/img/unsplash_KW3m50XRhjk.png' %}" alt="">
                            </div>
                            <div class="blog-card__body">
                                <a href="" class="blog-card__title">
                                    Rəqəmsal marketinq tarixi
                                </a>
                                <span class="blog-card__date">
                                    12 İyun, 2021
                                </span>
                                <p class="blog-card__text">
                                    Reklam və marketinq; Məhsul və xidmətləri, daha geniş kütləyə çatdırmaq və satış
                                    həcmini artırmaq üçün həyata keçirilən fəaliyyətə verilən addır...
                                </p>
                                <a href="{% url 'blog:blog-detail' %}" class="blog-card__more">
                                    Daha çox
                                    <img src="{% static 'assets/svg/Vector 106 (1).svg' %}" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="blog-card">
                            <div class="blog-card__img">
                                <img src="{% static 'assets/img/unsplash_Hcfwew744z4.png' %}" alt="">
                            </div>
                            <div class="blog-card__body">
                                <a href="" class="blog-card__title">
                                    Instagramın biznesizinizin inkişafında rolu
                                </a>
                                <span class="blog-card__date">
                                    12 İyun, 2021
                                </span>
                                <p class="blog-card__text">
                                    Reklam və marketinq; Məhsul və xidmətləri, daha geniş kütləyə çatdırmaq və satış
                                    həcmini artırmaq üçün həyata keçirilən fəaliyyətə verilən addır...
                                </p>
                                <a href="{% url 'blog:blog-detail' %}" class="blog-card__more">
                                    Daha çox
                                    <img src="{% static 'assets/svg/Vector 106 (1).svg' %}" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="blog-card">
                            <div class="blog-card__img">
                                <img src="{% static 'assets/img/unsplash_WUmb_eBrpjs.png' %}" alt="">
                            </div>
                            <div class="blog-card__body">
                                <a href="" class="blog-card__title">
                                    Sosial mediaya niyə reklam verməliyik?
                                </a>
                                <span class="blog-card__date">
                                    12 İyun, 2021
                                </span>
                                <p class="blog-card__text">
                                    Reklam və marketinq; Məhsul və xidmətləri, daha geniş kütləyə çatdırmaq və satış
                                    həcmini artırmaq üçün həyata keçirilən fəaliyyətə verilən addır...
                                </p>
                                <a href="{% url 'blog:blog-detail' %}" class="blog-card__more">
                                    Daha çox
                                    <img src="{% static 'assets/svg/Vector 106 (1).svg' %}" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="blog-card">
                            <div class="blog-card__img">
                                <img src="{% static 'assets/img/unsplash_WUmb_eBrpjs.png' %}" alt="">
                            </div>
                            <div class="blog-card__body">
                                <a href="" class="blog-card__title">
                                    Sosial mediaya niyə reklam verməliyik?
                                </a>
                                <span class="blog-card__date">
                                    12 İyun, 2021
                                </span>
                                <p class="blog-card__text">
                                    Reklam və marketinq; Məhsul və xidmətləri, daha geniş kütləyə çatdırmaq və satış
                                    həcmini artırmaq üçün həyata keçirilən fəaliyyətə verilən addır...
                                </p>
                                <a href="{% url 'blog:blog-detail' %}" class="blog-card__more">
                                    Daha çox
                                    <img src="{% static 'assets/svg/Vector 106 (1).svg' %}" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="blog-card">
                            <div class="blog-card__img">
                                <img src="{% static 'assets/img/unsplash_Hcfwew744z4.png' %}" alt="">
                            </div>
                            <div class="blog-card__body">
                                <a href="" class="blog-card__title">
                                    Instagramın biznesizinizin inkişafında rolu
                                </a>
                                <span class="blog-card__date">
                                    12 İyun, 2021
                                </span>
                                <p class="blog-card__text">
                                    Reklam və marketinq; Məhsul və xidmətləri, daha geniş kütləyə çatdırmaq və satış
                                    həcmini artırmaq üçün həyata keçirilən fəaliyyətə verilən addır...
                                </p>
                                <a href="{% url 'blog:blog-detail' %}" class="blog-card__more">
                                    Daha çox
                                    <img src="{% static 'assets/svg/Vector 106 (1).svg' %}" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <ul class="pagination mt-4 mb-4 mb-sm-5 justify-content-center">
                    <li>
                        <a href="" class="custom-prev-btn disabled">
                            <svg width="7" height="12" viewBox="0 0 7 12" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M5.29177 1.56665L1.35845 5.27211C0.939395 5.66689 0.939396 6.33308 1.35845 6.72786L5.29177 10.4333"
                                    stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </a>
                    </li>
                    <li class="pagination__item">
                        <a href="" class="pagination__link pagination__link--active">
                            1
                        </a>
                    </li>
                    <li class="pagination__item">
                        <a href="" class="pagination__link">
                            2
                        </a>
                    </li>
                    <li class="pagination__item">
                        <a href="" class="pagination__link">
                            3
                        </a>
                    </li>
                    <li class="pagination__item">
                        <a href="" class="pagination__link">
                            4
                        </a>
                    </li>
                    <li>
                        <a href="" class="custom-next-btn">
                            <svg width="7" height="12" viewBox="0 0 7 12" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M1.48768 1.56665L5.421 5.27211C5.84005 5.66689 5.84005 6.33308 5.421 6.72786L1.48767 10.4333"
                                    stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </main>

{% endblock content %}


{% block js %}
{% endblock js %}