{% extends 'base.html' %}
{% load static i18n %}
{% block css %}
{% endblock css %}
{% block title %}Trustme{% endblock title %}
{% block content %}

    <main>
        <section class="blog-detail pb-0 pb-lg-5 pt-4 pt-sm-5">
            <div class="g-container">
                <ul class="g-breadcrumb mb-md-4 pb-3">
                    <li class="g-breadcrumb__item">
                        Ana səhifə
                    </li>
                    <li class="g-breadcrumb__item">
                        Blog
                    </li>
                    <li class="g-breadcrumb__item g-breadcrumb__item--active">
                        <a href="">
                            {{blog.title}}
                        </a>
                    </li>
                </ul>

                <div class="blog-detail__img">
                    <img src="{{blog.image.url}}" alt="">
                </div>

                <div class="row g-3">
                    <div class="col-lg-8">
                        <div class="blog-detail__wrapper">
                            <div class="d-flex justify-content-between mb-4">
                                <div class="d-flex flex-column">
                                    <p class="blog-detail__owner">
                                        {{blog.author}}
                                    </p>
                                    <span class="blog-detail__date">
                                        {{blog.created_at|date:"d F, Y"}}
                                    </span>
                                </div>

                                <a href="" class="blog-detail__share">
                                    <img src="{% static 'assets/svg/share.svg' %}" alt="">
                                    <span>Paylaş</span>
                                </a>
                            </div>
                            <h1 class="blog-detail__title mt-sm-4 mt-3">
                                {{blog.title}}
                            </h1>
                            <p class="g-text mt-sm-4 mt-3">
                                {{blog.body|safe}}</p>
                        </div>
                    </div>

                    <div class="col-lg-4 d-none d-lg-block">
                        <p class="blog-detail__helper-title mb-4">
                            Həmçinin bax
                        </p>

                        <div class="blog-detail__recommend">
                            {% for blog in recommended_blogs %}
                            <div class="blog-card">
                                <div class="blog-card__img">
                                    <img src="{{blog.image.url}}" alt="">
                                </div>
                                <div class="blog-card__body">
                                    <a href="{% url 'blog:blog-detail' blog.slug %}" class="blog-card__title">
                                        {{blog.title}}
                                    </a>
                                    <span class="blog-card__date">
                                        {{blog.created_at|date:"d F, Y"}}
                                    </span>
                                    <p class="blog-card__text">
                                        {{blog.body|truncatewords:10|safe|striptags}}
                                    </p>
                                    <a href="{% url 'blog:blog-detail' blog.slug %}" class="blog-card__more">
                                        {% trans 'Daha çox' %}
                                        <img src="{% static 'assets/svg/Vector 106 (1).svg' %}" alt="">
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="blog-detail__recommend-slide pb-3 mt-4 d-lg-none">
                <div class="g-container">
                    <div class="section-title text-center text-xl-start mb-3">
                        <p>BLOQLAR</p>
                        <h2>Marketing bloqları</h2>
                    </div>
                    <div class="swiper blog-detail__slide">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="blog-card">
                                    <div class="blog-card__img">
                                        <img src="{% static 'assets/img/unsplash_WUmb_eBrpjs.png' %}" alt="">
                                    </div>
                                    <div class="blog-card__body">
                                        <a href="" class="blog-card__title">
                                            Instagramın biznesizinizin inkişafında rolu
                                        </a>
                                        <span class="blog-card__date">
                                            12 İyun, 2021
                                        </span>
                                        <p class="blog-card__text">
                                            Reklam və marketinq; Məhsul və xidmətləri, daha geniş kütləyə çatdırmaq və
                                            satış
                                            həcmini artırmaq üçün həyata keçirilən fəaliyyətə verilən addır...
                                        </p>
                                        <a href="" class="blog-card__more">
                                            Daha çox
                                            <img src="{% static 'assets/svg/Vector 106 (1).svg' %}" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="blog-card">
                                    <div class="blog-card__img">
                                        <img src="{% static 'assets/img/unsplash_KW3m50XRhjk.png' %}" alt="">
                                    </div>
                                    <div class="blog-card__body">
                                        <a href="" class="blog-card__title">
                                            Rəqəmsal marketinq tarixi
                                        </a>
                                        <span class="blog-card__date">
                                            12 İyun, 2021
                                        </span>
                                        <p class="blog-card__text">
                                            Reklam və marketinq; Məhsul və xidmətləri, daha geniş kütləyə çatdırmaq və
                                            satış
                                            həcmini artırmaq üçün həyata keçirilən fəaliyyətə verilən addır...
                                        </p>
                                        <a href="" class="blog-card__more">
                                            Daha çox
                                            <img src="{% static 'assets/svg/Vector 106 (1).svg' %}" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}
{% block js %}
    <script src="{% static 'js/slides/blogs-recommed.js' %}"></script>
{% endblock js %}