@mixin breakpoint-max($max-width) {
  $max-width: rem($max-width);

  @media screen and (max-width: #{$max-width}) {
    @content;
  }
}

@mixin breakpoint-min($min-width) {
  $min-width: rem($min-width);

  @media screen and (min-width: #{$min-width}) {
    @content;
  }
}

@mixin advancedRem($key, $values) {
  $baseline: rem(16);

  // #{$key}: $values;

  $remlist: ();

  @each $value in $values {
    @if $value == 0 {
      $remlist: append($remlist, $value);
    } @else {
      $remlist: append($remlist, rem($value));
    }
  }

  #{$key}: $remlist;
}

@mixin font-size($value: 16, $weight: 400, $style: normal) {
  font-size: rem($value);
  font-weight: $weight;
  font-style: $style;
}
