.g-btn {
    color: $main-color;
    background-color: transparent;
    padding: rem(10) rem(20);
    width: fit-content;
    height: fit-content;
    border-radius: rem(4);
    border: 1px solid $main-color;
    text-align: center;
    transition: 0.3s;
    &:hover {
        background-color: $main-color !important;
        color: white;
    }
}

.g-btn-fill {
    @include font-size(14, 500);
    width: fit-content;
    text-align: center;
    color: white;
    background-color: $main-color;
    line-height: rem(18);
    border-radius: rem(4);
    padding: rem(10) rem(20);
    border: 1px solid transparent;
    transition: 0.3s;
    &:hover {
        background-color: #fff;
        color: $main-color;
        border: 1px solid $main-color;
    }
}