.g-input-group {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: rem(20);

    label {
        font-size: rem(14);
        margin-bottom: rem(5);

        span {
            color: $main-color;
        }
    }

    input,
    textarea,
    select {
        border-radius: rem(4);
        background-color: white;
        border: 1px solid $gray2;
        padding: 9px 10px;
        color: $dark-color;
        font-size: rem(14);

        &::placeholder {
            color: $gray3;
            font-size: rem(12);
        }
    }



    .select-icon {
        position: absolute;
        right: rem(10);
        top: rem(38);
    }

    .file-drop-area {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px dashed $dark-color;
        border-radius: rem(4);
        transition: 0.2s;
        background: #FFFFFF;

        &.is-active {
            background-color: gainsboro;
        }
    }

    .file-msg {
        margin: rem(10) 0;
        padding: 0 rem(5);
        font-size: rem(12);
        color: $gray;
        word-break: break-all;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;

        b {
            color: $dark-color;
            font-weight: 600;
        }
    }

    .file-input {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        cursor: pointer;
        opacity: 0;

        &:focus {
            outline: none;
        }
    }

}

.select2 {
    &-selection {
        border-radius: rem(4) !important;
        background-color: white !important;
        border: rem(1) solid $gray2 !important;
        padding: rem(9) rem(10) !important;
        height: rem(38) !important;
    }

    &-selection__rendered {
        line-height: initial !important;
        color: $dark-color !important;
        font-size: rem(12) !important;
        padding: 0 !important;
    }

    &-selection__placeholder {
        color: $gray3 !important;
    }

    &-selection__arrow {
        display: none !important;
    }
}

.select2-container {
    .select2-dropdown {
        border-color: $gray2 !important;
    }

    .select2-search {
        display: none !important;

        .select2-search__field {
            margin: 0 !important;
        }
    }

    .select2-results__options::-webkit-scrollbar {
        margin: 0;
        background: #f4f3f2;
        width: rem(4);
        height: rem(20);
    }

    .select2-results__options::-webkit-scrollbar-thumb {
        background: $gray3;
    }

    .select2-results__option {
        font-size: rem(12);
        color: $dark-color;
    }

    .select2-selection__placeholder {}

    .select2-results__option--highlighted {
        &.select2-results__option--selectable {
            background-color: #F2F2F2;
            color: $dark-color;
        }
    }

    .select2-selection--multiple {
        .select2-search {
            display: inline !important;
        }

        .select2-selection__rendered {
            line-height: 13px !important;
        }

        .select2-selection__choice {
            background: rgba(46, 26, 115, 0.1);
            border-radius: rem(3);
            margin-top: 0;
            border: none;
            padding-left: rem(13);
            padding-top: rem(5);
            padding-bottom: rem(5);

            &__remove {
                height: 100%;
            }

            &__display {
                color: $dark-purple;
                padding: 0px rem(7);
            }
        }

        .select2-search__field {
            padding-left: rem(5);
        }
    }

    // .select2-container {
    //     top: 0 !important;
    //     left: 0 !important;
    //     width: 100% !important;
    //     height: 100% !important;
    // }

    // .select2-dropdown {
    //     width: 100% !important;
    //     height: 100% !important;
    //     border: none !important;
    // }

    // .select2-results__options {
    //     max-height: 100% !important;
    // }

    // .select2-results__option {
    //     padding: 10px !important;
    //     margin-bottom: 10px !important;
    // }
}