.seo-rank {
    .swiper-pagination {
        display: none;
        background-color: $light-gray;

        @include breakpoint-max($desktop-sm-width) {
            display: block;
        }
    }

    &__slide {
        @include breakpoint-max($desktop-sm-width) {
            padding-bottom: rem(16) !important;
            margin-bottom: 16px;
        }
    }

    &__box {
        box-shadow: 8px 8px 50px rgba(0, 0, 0, 0.03);
        border-radius: rem(6);
        padding: rem(20);
    }

    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: rem(20);
    }

    &__link {
        display: flex;
        align-items: center;
        gap: rem(5);
        color: #367BF5;
    }

    &__location {
        display: flex;
        align-items: center;
        gap: rem(5);
        @include font-size(14, 700);
        line-height: rem(19);
        color: #565656;

        img {
            width: rem(16);
            height: rem(16);
        }
    }

    &__titles {
        display: flex;
        justify-content: space-between;
        @include font-size(16, 600);
        margin-bottom: rem(20);
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: rem(20);

        @include breakpoint-max($tablet-width) {
            gap: rem(10);
        }
    }

    &__item {
        display: flex;
        align-items: center;
        gap: rem(5);
        justify-content: space-between;
        font-size: rem(16);

        span {
            width: rem(30);
            height: rem(30);
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $green;
            border-radius: 50%;
            color: white;
            flex-shrink: 0;
        }

        @include breakpoint-max($tablet-width) {
            font-size: rem(14);

            span {
                line-height: rem(20);
                width: rem(23);
                height: rem(23);
            }
        }
    }
}