.services {
    padding-bottom: rem(50);
    position: relative;
    overflow: hidden;
    z-index: 1;
    @include breakpoint-max($mobile-width) {
        padding-bottom: rem(40);
    }
    &__box {
        box-shadow: 0px 0px 120px rgba(0, 0, 0, 0.08);
        border-radius: rem(4);
        padding: rem(35);
        display: flex;
        flex-direction: column;
        background: white;
        height: 100%;

        &:hover{
            .services__title{
                color: $main-color;
            }
        }

        @include breakpoint-max($mobile-width) {
            padding: rem(20);
            align-items: center;

            &--career{
                align-items: flex-start;
            }
        }
    }
    &__icon {
        width: rem(50);
        height: rem(50);
        margin-bottom: rem(15);

        @include breakpoint-max($mobile-width) {
            width: rem(30);
            height: rem(30);
        }
    }
    &__title {
        @include font-size(20, 600);
        color: $dark-color;
        margin-bottom: rem(15);
        transition: 0.3s;

        @include breakpoint-max($mobile-width) {
            font-size: rem(16);
        }
    }
    &__text {
        font-size: rem(14);
        color: $gray;

        @include breakpoint-max($mobile-width) {
            text-align: center;

            &--career{
              text-align: start;
            }
        }
    }
    &__decor {
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
        width: 60%;

        @include breakpoint-max($mobile-width) {
            display: none;
        }
    }
}