{% extends 'base.html' %}
{% block css %}
{% endblock css %}
{% block title %}Trustme{% endblock title %}
{% block content %}

    <main>
        <section class="brief">
            <img src="./static/assets/svg/brief-1-decor.svg" class="brief__decor" id="brief-1-decor" alt="">
            <img src="./static/assets/svg/brief-2-decor.svg" class="brief__decor" id="brief-2-decor" alt="">
            <img src="./static/assets/svg/brief-3-decor.svg" class="brief__decor" id="brief-3-decor" alt="">
            <img src="./static/assets/svg/brief-mobile-decor.svg" class="brief__mob-decor" alt="">
            <div class="g-container">
                <ul class="g-breadcrumb">
                    <li class="g-breadcrumb__item">
                        Ana səhifə
                    </li>
                    <li class="g-breadcrumb__item">
                        Portfolio
                    </li>
                    <li class="g-breadcrumb__item">
                        Vebsayt Xidmətləri
                    </li>
                    <li class="g-breadcrumb__item g-breadcrumb__item--active">
                        <a href="">
                            Brief göndər
                        </a>
                    </li>
                </ul>

                <div class="brief-top">
                    <button class="brief__back-btn">
                        <img src="./static/assets/svg/Arrow Left.svg" alt="">
                    </button>
                    <p class="brief-top__title">
                        Brief göndər
                    </p>
                </div>

                <div class="brief-tab">
                    <button id="brief-tab__btn-1" class="brief-tab__btn" onclick="OpenTab(event, 'brief-1')">
                        <span class="brief-tab__step">1</span>
                        <span class="brief-tab__name">Şəxsi məlumatlar</span>
                    </button>
                    <button id="brief-tab__btn-2" class="brief-tab__btn" onclick="OpenTab(event, 'brief-2')">
                        <span class="brief-tab__step">2</span>
                        <span class="brief-tab__name">Ümumi məlumatlar</span>
                    </button>
                    <button id="brief-tab__btn-3" class="brief-tab__btn" onclick="OpenTab(event, 'brief-3')">
                        <span class="brief-tab__step">3</span>
                        <span class="brief-tab__name">Xidmətlə bağlı məlumatlar</span>
                    </button>
                </div>

                <form action="">
                    <div id="brief-1" class="tabcontent">
                        <p class="brief__title">
                            Şəxsi məlumatlar
                        </p>
                        <p class="brief__subtitle">
                            Şəxsi məlumatlarınız sizi daha yaxşı tanımağımıza kömək edəcək
                        </p>

                        <div class="brief__input-wrapper">
                            <div class="g-input-group">
                                <label for="name">Ad və soyad <span>*</span></label>
                                <input id="name" type="text" placeholder="Ad və soyadınızı daxil edin">
                            </div>
                            <div class="g-input-group">
                                <label for="email">Email <span>*</span></label>
                                <input id="email" type="email" placeholder="Email ünvanınızı daxil edin">
                            </div>
                            <div class="g-input-group">
                                <label for="phone">Əlaqə nömrəsi <span>*</span></label>
                                <div class="d-flex align-items-center">
                                    <select class="prefix" name="states[]" style="min-width: 85px;">
                                        <option value='+994'>+994</option>
                                        <option value='+7'>+7</option>
                                        <option value='+1'>+1</option>
                                    </select>
                                    <input class="w-100 ms-3" id="phone" type="text" placeholder="(_ _ _)_ _ _ _ _ _">
                                </div>
                            </div>

                            <button type="button" class="g-btn-fill w-100" id="move-brief-2">
                                Davam
                            </button>
                        </div>
                    </div>

                    <div id="brief-2" class="tabcontent">
                        <p class="brief__title">
                            Ümumi məlumatlar
                        </p>

                        <p class="brief__subtitle">
                            Ümumi məlumatlarınız şirkətinizi daha yaxşı tanımağımıza kömək edəcək
                        </p>

                        <div class="brief__input-wrapper">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="g-input-group">
                                        <label for="company-name">Şirkət adı <span>*</span></label>
                                        <input id="company-name" type="text"
                                            placeholder="Şirkətinizin adını daxil edin">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="g-input-group">
                                        <label for="">Fəaliyyət sferası <span>*</span></label>
                                        <select class="select2-area" name="state">
                                            <option></option>
                                            <option value="SMM Xidmətləri">Test</option>
                                        </select>
                                        <img src="./static/assets/svg/select-down.svg" class="select-icon" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="g-input-group">
                                        <label for="website">Vebsayt URL</label>
                                        <input id="website" type="url" placeholder="Vebsayt URL daxil edin">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="g-input-group">
                                        <label for="domain">Yeni alınacaq domain (ehtiyac varsa)</label>
                                        <input id="domain" type="url" placeholder="Yeni domaini qeyd edin">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="g-input-group">
                                        <label for="Rəqiblərin-saytları">Rəqiblərin saytları <span>*</span></label>
                                        <textarea id="Rəqiblərin-saytları" name=""
                                            placeholder="Əsas rəqiblərin saytlarını qeyd edin" cols="30"
                                            rows="10"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="g-input-group">
                                        <label for="Bəyəndiyiniz-saytlar">Bəyəndiyiniz saytlar <span>*</span></label>
                                        <textarea id="Bəyəndiyiniz-saytlar" name=""
                                            placeholder="Dizayn və funksionallıq cəhətdən bəyəndiyiniz saytları qeyd edin"
                                            cols="30" rows="10"></textarea>
                                    </div>
                                </div>
                            </div>

                            <button type="button" class="g-btn-fill w-100" id="move-brief-3">
                                Davam
                            </button>
                        </div>
                    </div>

                    <div id="brief-3" class="tabcontent">
                        <p class="brief__title">
                            Xidmət haqqında
                        </p>

                        <p class="brief__subtitle">
                            Xidmət haqqında məlumatlar sizə daha yaxşı xidmət etməyimizə kömək edəcək
                        </p>

                        <div class="brief__input-wrapper">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="g-input-group">
                                        <label for="">Layihənin müddəti <span>*</span></label>
                                        <select class="select2-date" name="state">
                                            <option></option>
                                            <option value="Test">Test</option>
                                        </select>
                                        <img src="./static/assets/svg/select-down.svg" class="select-icon" alt="">
                                    </div>
                                    <div class="g-input-group">
                                        <label for="">Vebsayt növü <span>*</span></label>
                                        <select class="select2-type" name="state">
                                            <option></option>
                                            <option value="Test">Test</option>
                                        </select>
                                        <img src="./static/assets/svg/select-down.svg" class="select-icon" alt="">
                                    </div>
                                    <div class="g-input-group">
                                        <label for="">Dil seçimi <span>*</span></label>
                                        <select class="select2-language" name="states[]" multiple="multiple">
                                            <option></option>
                                            <option value="Azərbaycan">Azərbaycan</option>
                                            <option value="Rus">Rus</option>
                                            <option value="İngilis">İngilis</option>
                                            <option value="Ukranya">Ukranya</option>
                                            <option value="Alman">Alman</option>
                                            <option value="Fransız">Fransız</option>
                                            <option value="İspan">İspan</option>
                                            <option value="İtalyan">İtalyan</option>
                                        </select>
                                        <img src="./static/assets/svg/select-down.svg" class="select-icon" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="g-input-group">
                                        <label for="">Dizayn <span>*</span></label>
                                        <select class="select2-design" name="state">
                                            <option value="Test">Test</option>
                                        </select>
                                        <img src="./static/assets/svg/select-down.svg" class="select-icon" alt="">
                                    </div>
                                    <div class="g-input-group">
                                        <label for="">Tələblər <span>*</span></label>
                                        <select class="select2-demands" name="state">
                                            <option value="Test">Test</option>
                                        </select>
                                        <img src="./static/assets/svg/select-down.svg" class="select-icon" alt="">
                                    </div>
                                    <div class="g-input-group">
                                        <label for="">Fotolar <span>*</span></label>
                                        <select class="select2-photos" name="state">
                                            <option value="Test">Test</option>
                                        </select>
                                        <img src="./static/assets/svg/select-down.svg" class="select-icon" alt="">
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="g-btn-fill w-100">
                                Göndər
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
{% endblock content %}
{% block js %}

    <script src="./static/js/brief-select.js"></script>
    <script src="./static/js/brief-tab.js"></script>
    <script src="./static/js/apply-form.js"></script>
{% endblock js %}
