{% extends 'base.html' %}
{% load static %}
{% block css %}
{% endblock css %}
{% block title %}Trustme{% endblock title %}
{% block content %}

    {% include 'partials/apply-modal.html' %}

    <main>
        <section class="project-about pt-sm-5 pt-4">
            <div class="g-container">
                <ul class="g-breadcrumb">
                    <li class="g-breadcrumb__item">
                        Ana səhifə
                    </li>
                    <li class="g-breadcrumb__item">
                        Portfolio
                    </li>
                    <li class="g-breadcrumb__item g-breadcrumb__item--active">
                        <a href="">
                            Maliyyə Dashboard
                        </a>
                    </li>
                </ul>
                <div class="section-title mb-4 mt-3">
                    <h2>Maliyyə Dashboard</h2>
                </div>
                <div class="row g-3">
                    <div class="col-lg-6">
                        <div class="project-about__content">
                            <h4 class="g-title--purple mb-3">
                                Haqqında
                            </h4>
                            <p class="g-text mb-4">
                                Trustme Digital Marketinq agentliyi, uzun illərin təcrübəsinə əsaslanaraq rəqəmsal
                                marketinq və brendinq çərçivəsində bir çox fərqli sahələrdə fərqli markalara xidmət
                                etmişdir. Rəqəmsal bir agentlik olaraq əsas məqsədimiz, müştərilərimizin hədəf
                                auditoriyasının
                                düzgün anlamaq və istəklərini qarşılamaq, bunun nəticəsində müştərilərimizin satışlarını
                                artırmaqdır. Bu istiqamətdə ilk addım, müştərimizin markasının ehtiyaclarını
                                müəyyənləşdirməkdir.
                            </p>
                            <h4 class="g-title--purple mb-3">
                                Hədəf
                            </h4>
                            <ul class="g-list">
                                <li>Trustme Digital Marketinq agentliyi, uzun illərin təcrübəsinə</li>
                                <li>Uzun illərin təcrübəsinə</li>
                                <li>Trustme Digital Marketinq</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 order-lg-2 order-first">
                        <div class="project-about__img">
                            <img src="{% static 'assets/img/Frame 88.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="process">
            <img src="{% static 'assets/svg/Line 4.svg' %}" class="process__line d-lg-flex d-none" alt="">

            <div class="g-container">
                <h4 class="g-title--purple mb-3">
                    Proses
                </h4>

                <div class="process__wrapper d-lg-flex d-none">
                    <div class="process__box">
                        <div class="process__icon">
                            <img src="{% static 'assets/svg/process1.svg' %}" alt="">
                        </div>
                        <div class="process__right">
                            <p class="process__title">
                                Brief
                            </p>
                            <span class="process__subtitle">
                                2 həftə
                            </span>
                        </div>
                    </div>
                    <div class="process__box">
                        <div class="process__icon">
                            <img src="{% static 'assets/svg/process2.svg' %}" alt="">
                        </div>
                        <div class="process__right">
                            <p class="process__title">
                                UX Dizayn
                            </p>
                            <span class="process__subtitle">
                                2 həftə
                            </span>
                        </div>
                    </div>
                    <div class="process__box">
                        <div class="process__icon">
                            <img src="{% static 'assets/svg/process3.svg' %}" alt="">
                        </div>
                        <div class="process__right">
                            <p class="process__title">
                                UI Dizayn
                            </p>
                            <span class="process__subtitle">
                                1 həftə
                            </span>
                        </div>
                    </div>
                    <div class="process__box">
                        <div class="process__icon">
                            <img src="{% static 'assets/svg/process4.svg' %}" alt="">
                        </div>
                        <div class="process__right">
                            <p class="process__title">
                                Front-end kodlaşdırma
                            </p>
                            <span class="process__subtitle">
                                1 həftə
                            </span>
                        </div>
                    </div>
                    <div class="process__box">
                        <div class="process__icon">
                            <img src="{% static 'assets/svg/process5.svg' %}" alt="">
                        </div>
                        <div class="process__right">
                            <p class="process__title">
                                Backend kodlaşdırma
                            </p>
                            <span class="process__subtitle">
                                1 həftə
                            </span>
                        </div>
                    </div>
                    <div class="process__box">
                        <div class="process__icon">
                            <img src="{% static 'assets/svg/process6.svg' %}" alt="">
                        </div>
                        <div class="process__right">
                            <p class="process__title">
                                Test
                            </p>
                            <span class="process__subtitle">
                                1 həftə
                            </span>
                        </div>
                    </div>
                </div>

                <div class="swiper process__slide d-lg-none">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="process__box">
                                <div class="process__icon">
                                    <img src="{% static 'assets/svg/process1.svg' %}" alt="">
                                </div>
                                <div class="process__right">
                                    <p class="process__title">
                                        Brief
                                    </p>
                                    <span class="process__subtitle">
                                        2 həftə
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="process__box">
                                <div class="process__icon">
                                    <img src="{% static 'assets/svg/process2.svg' %}" alt="">
                                </div>
                                <div class="process__right">
                                    <p class="process__title">
                                        UX Dizayn
                                    </p>
                                    <span class="process__subtitle">
                                        2 həftə
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="process__box">
                                <div class="process__icon">
                                    <img src="{% static 'assets/svg/process3.svg' %}" alt="">
                                </div>
                                <div class="process__right">
                                    <p class="process__title">
                                        UI Dizayn
                                    </p>
                                    <span class="process__subtitle">
                                        1 həftə
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="process__box">
                                <div class="process__icon">
                                    <img src="{% static 'assets/svg/process4.svg' %}" alt="">
                                </div>
                                <div class="process__right">
                                    <p class="process__title">
                                        Front-end kodlaşdırma
                                    </p>
                                    <span class="process__subtitle">
                                        1 həftə
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="process__box">
                                <div class="process__icon">
                                    <img src="{% static 'assets/svg/process5.svg' %}" alt="">
                                </div>
                                <div class="process__right">
                                    <p class="process__title">
                                        Backend kodlaşdırma
                                    </p>
                                    <span class="process__subtitle">
                                        1 həftə
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="process__box">
                                <div class="process__icon">
                                    <img src="{% static 'assets/svg/process6.svg' %}" alt="">
                                </div>
                                <div class="process__right">
                                    <p class="process__title">
                                        Test
                                    </p>
                                    <span class="process__subtitle">
                                        1 həftə
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
        </section>

        <section class="project-about">
            <div class="g-container">
                <div class="row g-lg-4 g-3">
                    <div class="col-lg-6">
                        <div class="project-about__content">
                            <h4 class="g-title--purple mb-3">
                                Nəticə
                            </h4>
                            <div class="accordion" id="accordionResult">
                                <div class="accordion-item">
                                    <div class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            Facebook marketinq
                                            <img src="{% static 'assets/svg/acc-icon.svg' %}" alt="">
                                        </button>
                                    </div>
                                    <div id="collapseOne" class="accordion-collapse collapse show"
                                        aria-labelledby="headingOne">
                                        <div class="accordion-body">
                                            Loqo, şirkətin imici və şəxsiyyətinin ayrılmaz hissəsidir. Mükəmməl dizaynlı
                                            bir loqo dəyərlərinizi, hədəflərinizi, şəxsiyyətinizi və fərqinizi ifadə
                                            edir. Biz, hədəflərinizi, fikirlərinizi və şəxsiyyətinizi göstərən xüsusi
                                            dizayn təqdim edirik. Potensial
                                            müştərilərinizin diqqətini cəlb etmək və bazarda sizə lazımi dərəcədə
                                            görünürlük vermək üçün təsirli bir loqo dizaynı hazırlayırıq.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                            aria-expanded="false" aria-controls="collapseTwo">
                                            İnstagram marketinq
                                            <img src="{% static 'assets/svg/acc-icon.svg' %}" alt="">
                                        </button>
                                    </div>
                                    <div id="collapseTwo" class="accordion-collapse collapse"
                                        aria-labelledby="headingTwo">
                                        <div class="accordion-body">
                                            Loqo, şirkətin imici və şəxsiyyətinin ayrılmaz hissəsidir. Mükəmməl dizaynlı
                                            bir loqo dəyərlərinizi, hədəflərinizi, şəxsiyyətinizi və fərqinizi ifadə
                                            edir. Biz, hədəflərinizi, fikirlərinizi və şəxsiyyətinizi göstərən xüsusi
                                            dizayn təqdim edirik. Potensial
                                            müştərilərinizin diqqətini cəlb etmək və bazarda sizə lazımi dərəcədə
                                            görünürlük vermək üçün təsirli bir loqo dizaynı hazırlayırıq.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                            aria-expanded="false" aria-controls="collapseThree">
                                            Linkedin marketinq
                                            <img src="{% static 'assets/svg/acc-icon.svg' %}" alt="">
                                        </button>
                                    </div>
                                    <div id="collapseThree" class="accordion-collapse collapse"
                                        aria-labelledby="headingThree">
                                        <div class="accordion-body">
                                            Loqo, şirkətin imici və şəxsiyyətinin ayrılmaz hissəsidir. Mükəmməl dizaynlı
                                            bir loqo dəyərlərinizi, hədəflərinizi, şəxsiyyətinizi və fərqinizi ifadə
                                            edir. Biz, hədəflərinizi, fikirlərinizi və şəxsiyyətinizi göstərən xüsusi
                                            dizayn təqdim edirik. Potensial
                                            müştərilərinizin diqqətini cəlb etmək və bazarda sizə lazımi dərəcədə
                                            görünürlük vermək üçün təsirli bir loqo dizaynı hazırlayırıq.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="swiper result-slide">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="result-slide__img">
                                        <img src="{% static 'assets/img/Image.png' %}" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="result-slide__img">
                                        <img src="{% static 'assets/img/Image.png' %}" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="result-slide__img">
                                        <img src="{% static 'assets/img/Image.png' %}" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="mt-4 mt-md-0">
            <div class="g-container">
                <div class="statistics statistics--four">
                    <div class="statistics__box">
                        <span class="statistics__numbers">
                            98%
                        </span>
                        <span class="statistics__text">
                            positive reviews from
                            our costumers
                        </span>
                    </div>
                    <div class="statistics__box">
                        <span class="statistics__numbers">
                            2006
                        </span>
                        <span class="statistics__text">
                            experienced in digital
                            marketing since 2006
                        </span>
                    </div>
                    <div class="statistics__box">
                        <span class="statistics__numbers">
                            1118
                        </span>
                        <span class="statistics__text">
                            social media posts
                            created in last year
                        </span>
                    </div>
                    <div class="statistics__box">
                        <span class="statistics__numbers">
                            8900
                        </span>
                        <span class="statistics__text">
                            digital materials created
                            for the last year
                        </span>
                    </div>
                </div>
            </div>
        </section>

        <section class="apply-banner section-gap">
            <div class="g-container">
                <div class="apply-banner__wrapper">
                    <p class="apply-banner__title">
                        Xidmətimizdən yararlanmaq istəyirsizmi?
                    </p>
                    <button class="g-btn-fill" data-bs-toggle="modal" data-bs-target="#applyModal">
                        Müraciət et
                    </button>
                </div>
            </div>
        </section>

        <section class="recommend">
            <div class="g-container">
                <div class="row justify-content-between">
                    <div class="col-xl-2">
                        <div class="d-flex flex-column">
                            <div class="section-title mx-auto mx-xl-0 text-center text-xl-start mb-3 mb-xl-0">
                                <p>PORTFOLİO</p>
                                <h2>Həmçinin
                                    bax</h2>
                            </div>

                            <a href="" class="g-btn d-none d-xl-flex">
                                Hamısı
                            </a>
                        </div>
                    </div>

                    <div class="col-xl-9">
                        <div class="swiper recommend__slide">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="" class="recommend__item">
                                        <img src="{% static 'assets/img/Frame 64 (1).png' %}" alt="">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="" class="recommend__item">
                                        <img src="{% static 'assets/img/Frame 26 (1).png' %}" alt="">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="" class="recommend__item">
                                        <img src="{% static 'assets/img/Frame 26 (1).png' %}" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}

{% block js %}

    <script src="{% static 'js/slides/results-slide.js' %}"></script>
    <script src="{% static 'js/slides/proccess-slide.js' %}"></script>
    <script src="{% static 'js/slides/recommend-slide.js' %}"></script>
    <script src="{% static 'js/apply-form.js' %}"></script>
{% endblock js %}
