{% extends 'base.html' %}
{% load static %}
{% block css %}
{% endblock css %}
{% block title %}Trustme{% endblock title %}
{% block content %}

    <main>
        <section class="portfolio-page pt-4 pt-sm-5">
            <div class="g-container">
                <ul class="g-breadcrumb mb-md-4 pb-3">
                    <li class="g-breadcrumb__item">
                        Ana səhifə
                    </li>
                    <li class="g-breadcrumb__item g-breadcrumb__item--active">
                        <a href="">
                            Portfolio
                        </a>
                    </li>
                </ul>

                <div class="section-title mb-3">
                    <h2>Portfolio</h2>
                </div>

                <div class="portfolio-page__wrapper">
                    <ul class="dashboard">
                        <li class="dashboard__item">
                            <a href="{% url 'service:portfolio' %}" class="dashboard__link  {% if not request.GET.service %}  dashboard__link--active {% endif %}">
                                <img src="{% static 'assets/svg/copy2.svg' %}" alt=""> Hamısı
                            </a>
                        </li>
                        {% for service in services %}
                        <li class="dashboard__item">
                            <a href="?service={{ service.slug }}" class="dashboard__link {% if request.GET.service == service.slug %}dashboard__link--active{% endif %}">
                                <img src="{{service.icon.url}}" alt=""> {{service.title}}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>

                    <ul class="categories-tab">
                        <li class="categories-tab__item categories-tab__item--active">
                            <a href="">
                                Hamısı
                            </a>
                        </li>
                        <li class="categories-tab__item">
                            <a href="">
                                360° Marketinq xidməti
                            </a>
                        </li>
                        <li class="categories-tab__item">
                            <a href="">
                                Rəqəmsal Strategiya Xidməti
                            </a>
                        </li>
                        <li class="categories-tab__item">
                            <a href="">
                                SEO Xidməti Xidməti
                            </a>
                        </li>
                        <li class="categories-tab__item">
                            <a href="">
                                Veb sayt Xidmətləri
                            </a>
                        </li>
                        <li class="categories-tab__item">
                            <a href="">
                                SMM Xidməti
                            </a>
                        </li>
                        <li class="categories-tab__item">
                            <a href="">
                                Local Marketinq Xidməti
                            </a>
                        </li>
                        <li class="categories-tab__item">
                            <a href="">
                                Google Reklamları Xidməti
                            </a>
                        </li>
                        <li class="categories-tab__item">
                            <a href="">
                                Tv & Media Planlama Xidməti
                            </a>
                        </li>
                        <li class="categories-tab__item">
                            <a href="">
                                SEO Audit Xidməti
                            </a>
                        </li>
                        <li class="categories-tab__item">
                            <a href="">
                                Dizayn Xidməti
                            </a>
                        </li>
                        <li class="categories-tab__item">
                            <a href="">
                                Brendinq Xidməti
                            </a>
                        </li>
                        <li class="categories-tab__item">
                            <a href="">
                                Reklam filmlərinin çəkilişi Xidməti
                            </a>
                        </li>
                    </ul>

                    <div class="d-flex flex-column">
                        <h4 class="portfolio-page__title">
                            Vebsayt işlərimiz
                        </h4>

                        <div class="row g-3 g-xl-4 d-sm-flex d-none">
                            {% for portfolio in portfolios %}
                            <div class="col-6">
                                <a href="{% url 'service:portfolio-detail' portfolio.slug %}" class="portfolio-page__item">
                                    <img src="{{portfolio.image.url}}" alt="">
                                </a>
                            </div>
                            {% endfor %}
                        </div>

                        <div class="row g-3 d-sm-flex d-sm-none">
                            {% for portfolio in portfolios %}
                            <div class="col-12">
                                <a href="{% url 'service:portfolio-detail' portfolio.slug %}" class="portfolio-page__item">
                                    <img src="{{portfolio.image.url}}" alt="">
                                </a>
                            </div>
                            {% endfor %}
                        </div>

                        
                        <ul class="pagination mt-4 mb-4 mb-sm-5 justify-content-center">
                            {% if page_obj.has_previous %}
                            <li>
                                <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.service %}&service={{ request.GET.service }}{% endif %}" class="custom-prev-btn">
                                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M5.29177 1.56665L1.35845 5.27211C0.939395 5.66689 0.939396 6.33308 1.35845 6.72786L5.29177 10.4333"
                                            stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </li>
                            {% else %}
                            <li>
                                <a href="#" class="custom-prev-btn disabled">
                                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M5.29177 1.56665L1.35845 5.27211C0.939395 5.66689 0.939396 6.33308 1.35845 6.72786L5.29177 10.4333"
                                            stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </li>
                            {% endif %}
                            {% for i in page_obj.paginator.page_range %}
                            {% if page_obj.number == i %}
                            <li class="pagination__item">
                                <a href="#" class="pagination__link pagination__link--active">
                                    {{i}}
                                </a>
                            </li>
                            {% else %}
                            <li class="pagination__item">
                                <a href="?page={{ i }}{% if request.GET.service %}&service={{ request.GET.service }}{% endif %}" class="pagination__link">
                                    {{i}}
                                </a>
                            </li>
                            {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                            <li>
                                <a href="?page={{ page_obj.next_page_number }}{% if request.GET.service %}&service={{ request.GET.service }}{% endif %}" class="custom-next-btn">
                                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M1.48768 1.56665L5.421 5.27211C5.84005 5.66689 5.84005 6.33308 5.421 6.72786L1.48767 10.4333"
                                            stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </li>
                            {% else %}
                            <li>
                                <a href="#" class="custom-next-btn disabled">
                                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M1.48768 1.56665L5.421 5.27211C5.84005 5.66689 5.84005 6.33308 5.421 6.72786L1.48767 10.4333"
                                            stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}
{% block js %}
{% endblock js %}