{% extends 'base.html' %}
{% load static %}
{% block css %}
{% endblock css %}
{% block title %}Home{% endblock title %}

{% block content %}

    <main>
        <section class="faq mb-sm-5 mb-3 pt-sm-5 pt-4">
            <div class="g-container">
                <ul class="g-breadcrumb mb-md-4 pb-3">
                    <li class="g-breadcrumb__item">
                        Ana səhifə
                    </li>
                    <li class="g-breadcrumb__item g-breadcrumb__item--active">
                        <a href="">
                            FAQ
                        </a>
                    </li>
                </ul>

                <div class="faq__wrapper">
                    <ul class="dashboard">
                        <li class="dashboard__item">
                            <a href="" class="dashboard__link">
                                <img src="{% static 'assets/svg/copy1.svg' %}" alt=""> 360° Marketinq xidməti
                            </a>
                        </li>
                        <li class="dashboard__item">
                            <a href="" class="dashboard__link">
                                <img src="{% static 'assets/svg/copy3.svg' %}" alt=""> Rəqəmsal Strategiya Xidməti
                            </a>
                        </li>
                        <li class="dashboard__item">
                            <a href="" class="dashboard__link">
                                <img src="{% static 'assets/svg/copy4.svg' %}" alt="">SEO Xidməti Xidməti
                            </a>
                        </li>
                        <li class="dashboard__item">
                            <a href="" class="dashboard__link dashboard__link--active">
                                <img src="{% static 'assets/svg/copy13.svg' %}" alt="">Veb sayt Xidmətləri
                            </a>
                        </li>
                        <li class="dashboard__item">
                            <a href="" class="dashboard__link">
                                <img src="{% static 'assets/svg/copy5.svg' %}" alt=""> SMM Xidməti
                            </a>
                        </li>
                        <li class="dashboard__item">
                            <a href="" class="dashboard__link">
                                <img src="{% static 'assets/svg/copy6.svg' %}" alt=""> Local Marketinq Xidməti
                            </a>
                        </li>
                        <li class="dashboard__item">
                            <a href="" class="dashboard__link">
                                <img src="{% static 'assets/svg/copy7.svg' %}" alt=""> Google Reklamları Xidməti
                            </a>
                        </li>
                        <li class="dashboard__item">
                            <a href="" class="dashboard__link">
                                <img src="{% static 'assets/svg/copy8.svg' %}" alt="">Tv & Media Planlama Xidməti
                            </a>
                        </li>
                        <li class="dashboard__item">
                            <a href="" class="dashboard__link">
                                <img src="{% static 'assets/svg/copy9.svg' %}" alt=""> SEO Audit Xidməti
                            </a>
                        </li>
                        <li class="dashboard__item">
                            <a href="" class="dashboard__link">
                                <img src="{% static 'assets/svg/copy10.svg' %}" alt=""> Dizayn Xidməti
                            </a>
                        </li>
                        <li class="dashboard__item">
                            <a href="" class="dashboard__link">
                                <img src="{% static 'assets/svg/copy11.svg' %}" alt=""> Brendinq Xidməti
                            </a>
                        </li>
                        <li class="dashboard__item">
                            <a href="" class="dashboard__link">
                                <img src="{% static 'assets/svg/copy12.svg' %}" alt=""> Reklam filmlərinin çəkilişi Xidməti
                            </a>
                        </li>
                    </ul>

                    <ul class="categories-tab">
                        <li class="categories-tab__item">
                            <a href="">
                                Hamısı
                            </a>
                        </li>
                        <li class="categories-tab__item">
                            <a href="">
                                360° Marketinq xidməti
                            </a>
                        </li>
                        <li class="categories-tab__item">
                            <a href="">
                                Rəqəmsal Strategiya Xidməti
                            </a>
                        </li>
                        <li class="categories-tab__item">
                            <a href="">
                                SEO Xidməti Xidməti
                            </a>
                        </li>
                        <li class="categories-tab__item categories-tab__item--active">
                            <a href="">
                                Veb sayt Xidmətləri
                            </a>
                        </li>
                        <li class="categories-tab__item">
                            <a href="">
                                SMM Xidməti
                            </a>
                        </li>
                        <li class="categories-tab__item">
                            <a href="">
                                Local Marketinq Xidməti
                            </a>
                        </li>
                        <li class="categories-tab__item">
                            <a href="">
                                Google Reklamları Xidməti
                            </a>
                        </li>
                        <li class="categories-tab__item">
                            <a href="">
                                Tv & Media Planlama Xidməti
                            </a>
                        </li>
                        <li class="categories-tab__item">
                            <a href="">
                                SEO Audit Xidməti
                            </a>
                        </li>
                        <li class="categories-tab__item">
                            <a href="">
                                Dizayn Xidməti
                            </a>
                        </li>
                        <li class="categories-tab__item">
                            <a href="">
                                Brendinq Xidməti
                            </a>
                        </li>
                        <li class="categories-tab__item">
                            <a href="">
                                Reklam filmlərinin çəkilişi Xidməti
                            </a>
                        </li>
                    </ul>

                    <div class="w-100 ps-lg-4 ms-lg-2">
                        <div class="accordion" id="accordionCategory">
                            <div class="accordion-item">
                                <div class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Korporativ şəxsiyyət dizaynının loqo dizaynından fərqi nədir?
                                        <img src="{% static 'assets/svg/acc-icon.svg' %}" alt="">
                                    </button>
                                </div>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                    aria-labelledby="headingOne" >
                                    <div class="accordion-body">
                                        Loqo, şirkətin imici və şəxsiyyətinin ayrılmaz hissəsidir. Mükəmməl dizaynlı bir
                                        loqo dəyərlərinizi, hədəflərinizi, şəxsiyyətinizi və fərqinizi ifadə edir. Biz,
                                        hədəflərinizi, fikirlərinizi və şəxsiyyətinizi göstərən xüsusi dizayn təqdim
                                        edirik. Potensial
                                        müştərilərinizin diqqətini cəlb etmək və bazarda sizə lazımi dərəcədə görünürlük
                                        vermək üçün təsirli bir loqo dizaynı hazırlayırıq.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <div class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Loqo dizaynı neçə müddətə başa gəlir?
                                        <img src="{% static 'assets/svg/acc-icon.svg' %}" alt="">
                                    </button>
                                </div>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                    >
                                    <div class="accordion-body">
                                        Loqo, şirkətin imici və şəxsiyyətinin ayrılmaz hissəsidir. Mükəmməl dizaynlı bir
                                        loqo dəyərlərinizi, hədəflərinizi, şəxsiyyətinizi və fərqinizi ifadə edir. Biz,
                                        hədəflərinizi, fikirlərinizi və şəxsiyyətinizi göstərən xüsusi dizayn təqdim
                                        edirik. Potensial
                                        müştərilərinizin diqqətini cəlb etmək və bazarda sizə lazımi dərəcədə görünürlük
                                        vermək üçün təsirli bir loqo dizaynı hazırlayırıq.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <div class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        E-poçt Şablon dizaynı edirsiniz?
                                        <img src="{% static 'assets/svg/acc-icon.svg' %}" alt="">
                                    </button>
                                </div>
                                <div id="collapseThree" class="accordion-collapse collapse"
                                    aria-labelledby="headingThree" >
                                    <div class="accordion-body">
                                        Loqo, şirkətin imici və şəxsiyyətinin ayrılmaz hissəsidir. Mükəmməl dizaynlı bir
                                        loqo dəyərlərinizi, hədəflərinizi, şəxsiyyətinizi və fərqinizi ifadə edir. Biz,
                                        hədəflərinizi, fikirlərinizi və şəxsiyyətinizi göstərən xüsusi dizayn təqdim
                                        edirik. Potensial
                                        müştərilərinizin diqqətini cəlb etmək və bazarda sizə lazımi dərəcədə görünürlük
                                        vermək üçün təsirli bir loqo dizaynı hazırlayırıq.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <div class="accordion-header" id="heading4">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                        Sosial media konsept dizaynının qiyməti nə qədərdir?
                                        <img src="{% static 'assets/svg/acc-icon.svg' %}" alt="">
                                    </button>
                                </div>
                                <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
                                    >
                                    <div class="accordion-body">
                                        Loqo, şirkətin imici və şəxsiyyətinin ayrılmaz hissəsidir. Mükəmməl dizaynlı bir
                                        loqo dəyərlərinizi, hədəflərinizi, şəxsiyyətinizi və fərqinizi ifadə edir. Biz,
                                        hədəflərinizi, fikirlərinizi və şəxsiyyətinizi göstərən xüsusi dizayn təqdim
                                        edirik. Potensial
                                        müştərilərinizin diqqətini cəlb etmək və bazarda sizə lazımi dərəcədə görünürlük
                                        vermək üçün təsirli bir loqo dizaynı hazırlayırıq.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

{% endblock content %}

{% block js %}
{% endblock %}