<!-- Apply Modal -->
<div class="modal fade" id="applyModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal">
                <img src="{% static 'assets/svg/Clear (1).svg' %}" alt="">
            </button>

            <div class="modal-body">
                <p class="modal-title">
                    Müraciət et
                </p>
                <form action="" class="w-100">
                    <div class="g-input-group">
                        <label for="name">Xidmət <span>*</span></label>
                        <select class="modal-select" name="state">
                            <option value=""></option>
                            <option value="SMM Xidmətləri">SMM Xidmətləri</option>
                            <option value="Dizayn Xidmətləri">Dizayn Xidmətləri</option>
                            <option value="SEO Xidməti">SEO Xidməti</option>
                            <option value="Rəqəmsal Strategiya">Rəqəmsal Strategiya</option>
                            <option value="TV & Media Planlama">TV & Media Planlama</option>
                            <option value="Google Reklamları">Google Reklamları</option>
                            <option value="Brendinq Xidməti">Brendinq Xidməti</option>
                            <option value="Vebsayt Xidmətləri">Vebsayt Xidmətləri</option>
                            <option value="Lokal Marketinq">Lokal Marketinq</option>
                            <option value="Reklam Filmlərinin Çəkilişi">Reklam Filmlərinin Çəkilişi</option>
                            <option value="SEO Audit">SEO Audit</option>
                        </select>
                        <img src="{% static 'assets/svg/select-down.svg' %}" class="select-icon" alt="">
                    </div>
                    <div class="g-input-group">
                        <label for="name">Ad və soyad <span>*</span></label>
                        <input id="name" type="text" placeholder="Ad və soyadınızı daxil edin">
                    </div>
                    <div class="g-input-group">
                        <label for="company-name">Şirkət adı <span>*</span></label>
                        <input id="company-name" type="text" placeholder="Şirkətinizin adını daxil edin">
                    </div>
                    <div class="g-input-group">
                        <label for="email">Email <span>*</span></label>
                        <input id="email" type="email" placeholder="Email ünvanınızı daxil edin">
                    </div>
                    <div class="g-input-group mb-0">
                        <label for="phone">Əlaqə nömrəsi <span>*</span></label>
                        <div class="d-flex align-items-center">
                            <select class="prefix" name="states[]">
                                <option value='+994'>+994</option>
                                <option value='+7'>+7</option>
                                <option value='+1'>+1</option>
                            </select>
                            <input class="w-100 ms-3" id="phone" type="text" placeholder="(_ _ _)_ _ _ _ _ _">
                        </div>
                    </div>
                    <button type="submit" class="g-btn-fill w-100">Göndər</button>
                </form>
                <img src="{% static 'assets/svg/mob-decor.svg' %}" class="mob-navbar__decor" alt="">

            </div>
        </div>
    </div>
</div>