{% load static i18n get_services %}
{% get_services as services %}
<!-- Apply Modal -->
<div class="modal fade" id="applyModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal">
                <img src="{% static 'assets/svg/Clear (1).svg' %}" alt="">
            </button>

            <div class="modal-body">
                <p class="modal-title">
                    {% trans 'Müraciət et' %}
                </p>
                <form action="" class="w-100" method="post" id="apply-for-service">
                    {% csrf_token %}
                    <div class="g-input-group">
                        <label for="name">{% trans 'Xidmət' %} <span>*</span></label>
                        <select class="modal-select" name="state">
                            <option value=""></option>
                            {% for service in services %}
                            <option value="{{service.id}}">{{service.title}}</option>
                            {% endfor %}
                        </select>
                        <img src="{% static 'assets/svg/select-down.svg' %}" class="select-icon" alt="">
                    </div>
                    <div class="g-input-group">
                        <label for="full_name">Ad və soyad <span>*</span></label>
                        <input id="full_name" type="text" placeholder="Ad və soyadınızı daxil edin">
                    </div>
                    <div class="g-input-group">
                        <label for="company_name">Şirkət adı <span>*</span></label>
                        <input id="company_name" type="text" placeholder="Şirkətinizin adını daxil edin">
                    </div>
                    <div class="g-input-group">
                        <label for="email">Email <span>*</span></label>
                        <input id="email" type="email" placeholder="Email ünvanınızı daxil edin">
                    </div>
                    <div class="g-input-group mb-0">
                        <label for="phone">Əlaqə nömrəsi <span>*</span></label>
                        <div class="d-flex align-items-center">
                            <select class="prefix" name="states[]" id="phone_prefix">
                                <option value='+994'>+994</option>
                                <option value='+7'>+7</option>
                                <option value='+1'>+1</option>
                            </select>
                            <input class="w-100 ms-3" id="phone" type="text" placeholder="(_ _ _)_ _ _ _ _ _">
                        </div>
                    </div>
                    <button type="submit" id="apply-for-service-submit" class="g-btn-fill w-100">Göndər</button>
                </form>
                <img src="{% static 'assets/svg/mob-decor.svg' %}" class="mob-navbar__decor" alt="">

            </div>
        </div>
    </div>
</div>

<script>
    apply_for_service = document.getElementById("apply-for-service");
    const ApplyForServiceLogic = {
        applyForServiceManager(data) {
            fetch('/api/service-applicant', {
                method: 'POST',
                credentials: 'include',
                headers: {
                    "X-CSRFToken": apply_for_service.csrfmiddlewaretoken.value,
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    'full_name': data.full_name,
                    'company_name': data.company_name,
                    'email': data.email,
                    'phone': data.phone,
                    'service': data.service,
                    'phone_prefix': data.phone_prefix,
                })
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                });
        }
    }
    apply_for_service_submit = document.getElementById('apply-for-service-submit');
    apply_for_service_submit.addEventListener('click', function (e) {
        e.preventDefault();
        data = {
            'email': apply_for_service.email.value,
            'full_name': apply_for_service.full_name.value,
            'company_name': apply_for_service.company_name.value,
            'phone': apply_for_service.phone.value,
            'service': apply_for_service.state.value,
            'phone_prefix': apply_for_service.phone_prefix.value,
        }
        ApplyForServiceLogic.applyForServiceManager(data);
    });
</script>