{% load static i18n %}

<header>
    <nav class="navbar navbar--home">
        <div class="g-container">
            <div class="navbar__desktop-wrapper">
                <a href="{% url 'core:home'  %}" class="navbar__logo">
                    <img src="{% static 'assets/svg/trustme_svg 1.svg' %}" alt="">
                </a>

                <ul class="navbar__list">
                    <li class="navbar__item">
                        <a href="{% url 'core:about_us'  %}" class="navbar__link">Haqqımızda</a>
                    </li>
                    <li class="navbar__item">
                        <a href="{% url 'service:services' %}" class="navbar__link">Xidmətlər</a>
                    </li>
                    <li class="navbar__item">
                        <a href="{% url 'portfolio:portfolio' %}" class="navbar__link">Portfolio</a>
                    </li>
                    <li class="navbar__item">
                        <a href="{% url 'blog:blogs' %}" class="navbar__link">Bloq</a>
                    </li>
                    <li class="navbar__item">
                        <a href="{% url 'core:contact'  %}" class="navbar__link">Əlaqə</a>
                    </li>
                </ul>

                <div class="navbar__helper">
                    <a href="{% url 'service:digital-audit' %}" class="g-btn-fill">Rəqəmsal audit</a>

                    <div class="dropdown lang-dropdown">
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                        <button class="dropdown-toggle" type="button" id="selectLanguage" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img src="{% static 'assets/svg/global.svg' %}" alt="">
                            <span>
                                {% get_current_language as LANGUAGE_CODE %}
                                {% get_language_info for LANGUAGE_CODE as current_lang %}
                                {{ current_lang.code }}
                                <svg width="8" height="6" viewBox="0 0 8 6" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1.5L4 4.5L7 1.5" stroke="" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="selectLanguage">
                            <form action="" method="post">{% csrf_token %}
                                <input name="next" type="hidden" value="{{ redirect_to }}">
                                {% for language in languages %}
                                {% if language.code != LANGUAGE_CODE %}
                                <a value="{{ language.code }}" class="dropdown-item" href="{% url 'core:set_language'%}?lang={{language.code}}&next={{request.path}}">{{ language.code }}</a>
                                {% endif %}
                                {% endfor %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="navbar__mobile-wrapper">
                <button class="navbar__open">
                    <img src="{% static 'assets/svg/home-menu-icon.svg' %}" alt="" class="white-item">
                    <img src="{% static 'assets/svg/menu-icon.svg' %}" alt="" class="black-item">
                </button>
                <a href="{% url 'core:home'  %}" class="navbar__mobile-logo">
                    <img src="{% static 'assets/svg/home-mob-menu-logo.svg' %}" alt="" class="white-item">
                    <img src="{% static 'assets/svg/trustme_svg 1.svg' %}" alt="" class="black-item">
                </a>
                <a href="tel:+994702523315" class="navbar__mobile-call">
                    <i class="fa-solid fa-phone-flip"></i>
                </a>
            </div>
        </div>
    </nav>

    <nav class="mob-navbar">
        <div class="g-container h-100">
            <div class="mob-navbar__wrapper">
                <button class="mob-navbar__close">
                    <img src="{% static 'assets/svg/Clear.svg' %}" alt="">
                </button>
                <a href="" class="mob-navbar__logo">
                    <img src="{% static 'assets/svg/trustme_svg 1.svg' %}" alt="">
                </a>
                <ul>
                    <li>
                        <a href="{% url 'core:about_us'  %}">
                            Haqqımızda
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'service:services' %}">
                            Xidmətlər
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'portfolio:portfolio' %}">
                            Portfolio
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'blog:blogs' %}">
                            Bloq
                        </a>
                    </li>
                    <span class="line"></span>
                    <li>
                        <a href="{% url 'career:careers'  %}">
                            Karyera
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'core:contact'  %}">
                            Əlaqə </a>
                    </li>
                    <li>
                        <a href="{% url 'core:faq'  %}">
                            FAQ
                        </a>
                    </li>
                </ul>
                <div class="dropdown mob-lang-dropdown">
                    <button class="dropdown-toggle" type="button" id="selectLanguage" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <span>
                            Azərbaycan dili
                            <svg width="8" height="6" viewBox="0 0 8 6" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 1.5L4 4.5L7 1.5" stroke="" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="selectLanguage">

                        <a class="dropdown-item" href="">Rus dili</a>
                        <a class="dropdown-item" href="">İngilis dili</a>
                    </div>
                </div>
            </div>
        </div>
        <img src="{% static 'assets/svg/mob-decor.svg' %}" class="mob-navbar__decor" alt="">
    </nav>
</header>