.footer {
    @include breakpoint-max($desktop-sm-width) {
        display: none;
    }

    background-color: $dark-purple;
    padding-top: rem(50);
    padding-bottom: rem(30);

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: rem(50);
        max-width: rem(355);
    }

    &__logo {
        width: rem(270);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__info-text {
        font-size: rem(12);
        line-height: rem(17);
        color: $gray2;
    }

    &__title {
        color: white;
        margin-bottom: rem(20);
        font-weight: 600;
    }

    &__links {
        display: flex;
        gap: rem(145);

        @include breakpoint-max($desktop-width) {
            gap: rem(50);
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__item {
        margin-bottom: rem(5);
    }

    &__link {
        font-size: rem(12);
        color: white;
        transition: 0.3s;

        &:hover {
            color: $main-color;
        }
    }

    &__contact-list {
        display: flex;
        flex-direction: column;
        gap: rem(12);
        margin-bottom: rem(30);
    }

    &__contact-link {
        display: flex;
        align-items: center;
        gap: rem(8);
        color: white;
        font-size: rem(12);

        img {
            width: rem(18);
            flex-shrink: 0;
        }

        &:hover {
            color: white;
        }
    }

    &__socials-list {
        display: flex;
        gap: rem(15);
    }

    &__socaials-link {
        width: rem(20);
    }

    &__copyright {
        margin-top: rem(35);

        p {
            font-size: rem(12);
            color: #C9C9C9;
            text-align: center;

            span {
                font-weight: 600;
            }
        }
    }
}

.mob-footer {
    display: none;
    background-color: $dark-purple;
    padding: rem(30) 0;

    @include breakpoint-max($desktop-sm-width) {
        display: block;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &__logo {
        display: block;
        width: rem(120);
        height: rem(37);
        margin-bottom: rem(40);

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__accordion {
        .accordion-item {
            background: $dark-purple;

            button {
                padding: 0;
                @include font-size(17, 600);
                color: #E6E6E6;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background: $dark-purple;
                border: none;
                padding-bottom: rem(18);

                &:not(.collapsed) {
                    .plusminus {
                        &:before {
                            transform: translate(-50%, -50%) rotate(-90deg);
                            opacity: 0;
                        }

                        &:after {
                            transform: translate(-50%, -50%) rotate(0);
                        }
                    }
                }

                .plusminus {
                    position: relative;
                    width: rem(22);
                    height: rem(22);
                    background-color: #EBEBEB;
                    cursor: pointer;
                    border-radius: 50%;

                    &:before,
                    &:after {
                        content: "";
                        display: block;
                        background-color: $dark-purple;
                        border-radius: rem(6);
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transition: .35s;
                        width: rem(12);
                        height: rem(2);
                    }

                    &:before {
                        transform: translate(-50%, -50%);
                    }

                    &:after {
                        transform: translate(-50%, -50%) rotate(90deg);
                    }

                }
            }

            .accordion-body {
                padding-top: 0;
                border: 0;

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: rem(8);

                    li {
                        a {
                            color: white;
                            transition: 0.3s;
                            font-size: rem(14);

                            &:hover {
                                color: $main-color;
                            }
                        }
                    }
                }
            }
        }
    }

    &__socials {
        display: flex;
        margin-top: rem(12);
        justify-content: center;


        li {
            width: rem(56);
            height: rem(43);

            @include breakpoint-max($mobile-width){
                width: 16.66%;
                height: rem(45);
            }

            a {
                height: 100%;
                display: flex;
                align-self: center;
                justify-content: center;
                padding: rem(13);
            }

            &:nth-of-type(1) {
                background: #C92664;
                border-radius: 5px 0px 0px 5px;
            }

            &:nth-of-type(2) {
                background: #4868AD;
            }

            &:nth-of-type(3) {
                background: #4EA1EB;
            }

            &:nth-of-type(4) {
                background: #3068A1;
            }

            &:nth-of-type(5) {
                background: #FF0000;
            }

            &:nth-of-type(6) {
                background: #0057FF;
                border-radius: 0px 5px 5px 0px;

            }
        }
    }

    &__copyright{
        text-align: center;
        margin-top: rem(20);
        p{
            font-size: rem(12);
            color: #C9C9C9;
            span{
                font-weight: 600;
            }
        }
    }
}