.blog-detail {
    &__wrapper {
        padding-right: rem(70);

        ul {
            list-style: disc;
            padding-left: rem(18);
            li{
                font-size: rem(14);
            }
        }

        @include breakpoint-max(992) {
            padding-right: rem(0);
        }
    }

    &__recommend-slide {
        background-color: $light-gray;
        padding-top: rem(20);

        .swiper-wrapper {
            padding-bottom: rem(35);
        }

        .blog-card {
            box-shadow: none;

            &__img {
                display: none;
            }

            &__body {
                margin-top: 0;
            }
        }
    }

    &__recommend {
        display: flex;
        flex-direction: column;
        gap: rem(25);
    }

    &__img {
        height: rem(400);
        margin-bottom: rem(40);

        @include breakpoint-max($tablet-width) {
            height: rem(300);
            margin-bottom: rem(20);
        }

        @include breakpoint-max($mobile-width) {
            height: rem(200);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__owner {
        @include font-size(18, 700);
        margin-bottom: rem(6);
    }

    &__date {
        font-size: rem(12);
        color: $gray;
    }

    &__share {
        display: flex;
        gap: rem(10);
        color: $main-color !important;
        padding: rem(10) rem(20);
        border: rem(1) solid $main-color;
        border-radius: rem(4);

        @include breakpoint-max($mobile-width) {
            padding: rem(10);

            img {
                width: rem(18);
                height: rem(18);
            }

            span {
                display: none
            }
        }
    }

    &__title {
        @include font-size(36, 700);
        line-height: rem(45);

        @include breakpoint-max($mobile-width) {
            font-size: rem(24);
            line-height: rem(30);
        }
    }

    &__subtitle {
        @include font-size(18, 700);

        @include breakpoint-max($mobile-width){
            font-size: rem(16)
        }
    }

    &__helper-title {
        @include font-size(24, 600);
    }
}