.brief {
    padding-top: rem(30);
    padding-bottom: rem(145);
    position: relative;

    @include breakpoint-max($mobile-width) {
        padding-bottom: rem(50);
    }

    .g-breadcrumb {
        @include breakpoint-max($mobile-width) {
            display: none;
        }
    }

    &__decor {
        display: none;
        position: absolute;
        bottom: 0;

        &.active {
            display: block;
        }

        &#brief-1-decor {
            left: 0;
        }

        &#brief-2-decor {
            left: 0;
        }

        &#brief-3-decor {
            right: 0;
        }

        @include breakpoint-max($mobile-width) {
            display: none !important;
        }
    }

    &__mob-decor {
        position: absolute;
        bottom: 0;
        right: 0;
        display: none;
        @include breakpoint-max($mobile-width) {
            display: block;
        }
    }

    &-top {
        display: none;
        gap: rem(70);
        align-items: center;

        &__title {
            @include font-size(24, 700);
        }

        @include breakpoint-max($mobile-width) {
            display: flex;
        }
    }

    &-tab {
        display: flex;
        justify-content: space-between;
        margin-top: rem(30);
        margin-bottom: rem(45);
        position: relative;

        @include breakpoint-max($mobile-width) {
            margin-top: rem(20);
            margin-bottom: rem(20);
        }

        &::after {
            content: "";
            position: absolute;
            width: calc(100% - 150px);
            height: rem(1);
            background-color: $gray;
            left: 50%;
            top: rem(17);
            transform: translateX(-50%);
            z-index: -1;

            @include breakpoint-max($mobile-width) {
                width: calc(100% - 60px);
            }
        }

        &__btn {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: rem(8);

            @include breakpoint-max($mobile-width) {
                width: 33.333%;


                &:first-of-type {
                    transform: translateX(rem(-25));
                }

                &:last-of-type {
                    transform: translateX(rem(25));
                }
            }

            &.active {
                .brief-tab__step {
                    color: white;
                    background: $dark-purple;
                }

                .brief-tab__name {
                    color: $dark-color;

                }
            }
        }

        &__step {
            width: rem(35);
            height: rem(35);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: rem(10);
            color: $gray;
            background: $gray2;
            @include font-size(14, 600);
            pointer-events: none;
        }

        &__name {
            color: $gray2;
            @include font-size(14, 600);
            pointer-events: none;

            @include breakpoint-max($mobile-width) {
                font-size: rem(12);
                max-width: rem(80);
            }
        }
    }

    &__title {
        @include font-size(36, 700);
        line-height: rem(45);
        text-align: center;

        @include breakpoint-max($mobile-width) {
            font-size: rem(24);
            line-height: rem(30);
            margin-bottom: rem(5);
        }
    }

    &__subtitle {
        color: $gray;
        text-align: center;

        @include breakpoint-max($mobile-width) {
            font-size: rem(14);
        }
    }

    &__input-wrapper {
        display: flex;
        flex-direction: column;
        max-width: rem(792);
        margin: auto;
        margin-top: rem(40);

        @include breakpoint-max($mobile-width) {
            max-width: 100%;
            margin-top: rem(20);
        }

        .g-btn-fill {
            max-width: rem(386);
            margin: auto;
            margin-top: rem(40);
            z-index: 1;

            @include breakpoint-max($mobile-width) {
                margin-top: rem(20);
            }
        }
    }

    #brief-1 {
        .brief__input-wrapper {
            max-width: rem(386);
        }
    }

    @keyframes fadeEffect {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .tabcontent {
        animation: fadeEffect 1s;
        display: none;
    }
}