{% extends 'base.html' %}
{% load static i18n %}
{% block css %}
{% endblock css %}
{% block title %}{{title}}{% endblock title %}
{% block content %}

    <main>
        <section class="blog-detail pt-4 pt-sm-5 mb-4 mb-sm-5">
            <div class="g-container">
                <ul class="g-breadcrumb mb-4">
                    <li class="g-breadcrumb__item">
                        Ana səhifə
                    </li>
                    <li class="g-breadcrumb__item">
                        Kariyera
                    </li>
                    <li class="g-breadcrumb__item g-breadcrumb__item--active">
                        <a href="">
                            Digital Marketing Manager
                        </a>
                    </li>
                </ul>

                <div class="row g-3">
                    <div class="col-lg-8">
                        <div class="blog-detail__wrapper">
                            <span class="chip mb-2">
                                {{vacancy.type}}
                            </span>
                            <h1 class="blog-detail__title mb-3 mb-sm-5">
                                {{vacancy.title}}
                            </h1>
                            <h2 class="blog-detail__subtitle mb-3">
                                {% trans 'Haqqında' %}
                            </h2>
                            <p class="blog-detail__text mb-3 mb-sm-5">
                                {{vacancy.short_description}}
                            </p>
                            <p class="blog-detail__text mb-3 mb-sm-5">
                                {{vacancy.full_description|safe|striptags}}
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="apply-box">
                            <p class="blog-detail__subtitle mb-4 pb-1">
                                Müraciət et
                            </p>
                            <form action="" method="post" id="applicantform" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="g-input-group">
                                    <label for="full_name">{% trans 'Ad və soyad' %} <span>*</span></label>
                                    <input id="full_name" type="text" placeholder="{% trans 'Ad və soyadınızı daxil edin' %}">
                                </div>
                                <div class="g-input-group">
                                    <label for="message">Mesaj <span>*</span></label>
                                    <textarea id="message" name="" placeholder="Mesajınızı yazın" cols="30"
                                        rows="10"></textarea>
                                </div>
                                <div class="g-input-group">
                                    <label for="message">CV <span>*</span></label>
                                    <div class="file-drop-area">
                                        <span class="file-msg">
                                            Sürüşdürün və ya <b>yükləyin</b>
                                        </span>
                                        <input id="cv" class="file-input" type="file" multiple>
                                    </div>
                                </div>

                                <button id="applicant-submit" type="submit" class="g-btn-fill w-100">Göndər</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
{% endblock content %}

{% block js %}
    <script src="{% static 'js/uplod.js' %}"></script>
    <script>
        applicantform = document.getElementById('applicantform');
        const ApplicantLogic = {
            applicantManager(data) {
                fetch('/api/applicant', {
                    method: 'POST',
                    credentials: 'include',
                    headers: {
                        "X-CSRFToken": applicantform.csrfmiddlewaretoken.value,
                        'Content-Type': 'application/json',
                        'Content-Disposition': 'attachment; filename="cv.pdf"'
                    },
                    body: JSON.stringify({
                        'full_name': data.full_name,
                        'cv': data.cv,
                        'message': data.message,
                        'vacancy': data.vacancy
                    })
                })
                    .then(response => response.json())
                    .then(data => {
                    });
            }
        }
        applicant_submit = document.getElementById('applicant-submit');
        applicant_submit.addEventListener('click', function (e) {
            e.preventDefault();
            full_name = document.getElementById('full_name').value;
            cv = document.getElementById('cv').value;
            vacancy = window.location.pathname.split('/')[2];
            message = document.getElementById('message').value;
            data = {
                'full_name': full_name,
                'cv': cv,
                'message': message,
                'vacancy': vacancy
            }
            ApplicantLogic.applicantManager(data);
        });
    </script>
{% endblock js %}
